//* Styles for specific type of button (danger, in this case)

@if index($btn-types, danger) {
  .btn--danger {
    background-color: #fc5a5a;

    &:active {
      background-color: darken(#fc5a5a, 10%);
    }

    @media (hover: hover) {
      &:hover,
      &:focus {
        background-color: lighten(#fc5a5a, 10%);
      }
    } //* Checking if hover functionality supports by browser

    &[disabled] {
      background-color: #b5b5be;
    } //* if button disabled (by HTML attribute)
  }
} //* Checking an existense of value primary in the map (not -1 -> true)
