//* Styles for specific type of button (warning, in this case)

@if index($btn-types, warning) {
  .btn--warning {
    background-color: #a461d8;

    &:active {
      background-color: darken(#a461d8, 10%);
    }

    @media (hover: hover) {
      &:hover,
      &:focus {
        background-color: lighten(#a461d8, 10%);
      }
    } //* Checking if hover functionality supports by browser

    &[disabled] {
      background-color: #b5b5be;
    } //* if button disabled (by HTML attribute)
  }
} //* Checking an existense of value primary in the map (not -1 -> true)
